In [ ]:
#1.
A retail store wants to identify customers who make frequent purchases. Given the dataset below, write a Python program to:
Group customers by their IDs.
Calculate the total purchase amount per customer.
Identify the top 3 customers with the highest purchase amounts.

Dataset:
data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

Expected Output:
Total Purchases per Customer:
   Customer_ID  Purchase_Amount
0          101              520
1          102              600
2          103              480
3          104              300
4          105              400

Top 3 Frequent Customers:
   Customer_ID  Purchase_Amount
1          102              600
0          101              520
2          103              480

In [6]:
import pandas as pd
data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

# Creating dataframe.
df = pd.DataFrame(data)

# Grouping by Customer_ID and calculating total purchases.
total_purchase = df.groupby('Customer_ID')['Purchase_Amount'].sum().reset_index()

# Finding the top 3 frequently purchased customers.
top_customers = df.sort_values(by='Purchase_Amount', ascending=False).head(3)

print("Total Purchases per Customer:")
print(total_purchase)

print("Top 3 Frequent Customers:")
print(top_customers)

Total Purchases per Customer:
   Customer_ID  Purchase_Amount
0          101              520
1          102              600
2          103              480
3          104              300
4          105              400
Top 3 Frequent Customers:
   Customer_ID  Purchase_Amount
7          105              400
4          104              300
9          103              300

In [ ]:
#2. 
Predicting House Prices with Linear Regression
A real estate company wants to predict house prices based on square footage. Write a Python program to:
Train a Linear Regression model.

Predict house prices for given test data.

Dataset:
data = {'Square_Feet': [1500, 2000, 2500, 3000, 3500],
        'Price': [300000, 400000, 500000, 600000, 700000]}

Test Data: [[1800], [2800]]
Expected Output:
Predicted Prices:
[360000. 560000.]

In [8]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

data = {'Square_Feet': [1500, 2000, 2500, 3000, 3500],
        'Price': [300000, 400000, 500000, 600000, 700000]}

# Creating a DataFrame
df = pd.DataFrame(data)

# Splitting data into features and target
from sklearn.model_selection import train_test_split
x = df[['Square_Feet']]
y = df['Price']

# Training a Linear Regression Model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x, y)

# Predicting for test data
test_data = [[1800], [2800]]
predictions = model.predict(test_data)

print("Predicted Prices:")
print(predictions)

Predicted Prices:
[360000. 560000.]

In [ ]:
#3. 
Identifying Frequent Labels in a Dataset
A company wants to identify the top 3 most common categories in a dataset. Given the dataset below, write a Python program to:
Group the data by Category.

Count the total occurrences of each category.

Identify the top 3 most frequent categories.

Dataset:
data = {'Category': ['A', 'B', 'C', 'A', 'D', 'B', 'A', 'E', 'B', 'C', 'C', 'A'],
        'Value': [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15]}

Expected Output:

Total Occurrences per Category:
  Category  Count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1

Top 3 Frequent Categories:
  Category  Count
0        A      4
1        B      3
2        C      3

In [11]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

data = {'Category': ['A', 'B', 'C', 'A', 'D', 'B', 'A', 'E', 'B', 'C', 'C', 'A'],
        'Value': [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15]}

# Creating a DataFrame
df = pd.DataFrame(data)

# Counting total occurrences of each category
category_counts = df.groupby('Category').size().reset_index(name='Count')

# Finding the top 3 most frequent categories
top_categories = category_counts.sort_values(by='Count', ascending=False).head(3)

print("Total Occurrences per Category:")
print(category_counts)
print("\nTop 3 Frequent Categories:")
print(top_categories)

Total Occurrences per Category:
  Category  Count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1

Top 3 Frequent Categories:
  Category  Count
0        A      4
1        B      3
2        C      3

In [ ]:
#4.
Predicting Missing Values Using Mean Imputation
A dataset contains missing values in the Age column. Write a Python program to:
Replace missing values with the mean of the column.

Display the updated DataFrame.

Dataset:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]}

Expected Output:
Original Data:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie   NaN
3  David  35.0
4    Eve   NaN

Data after Imputation:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie  30.0
3  David  35.0
4    Eve  30.0

In [20]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]}

# Creating a DataFrame
df = pd.DataFrame(data)

print("Original Data:")
print(df)

# Finding mean of Age.
mean_age = df['Age'].mean()
print("\nMean Age:", mean_age)

df['Age'] = df['Age'].fillna(mean_age)
print("\nData after Imputation:")
print(df)

Original Data:
      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie   NaN
3    David  35.0
4      Eve   NaN

Mean Age: 30.0

Data after Imputation:
      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie  30.0
3    David  35.0
4      Eve  30.0

In [ ]:
# 5.
Implementing a Simple Linear Regression Model
You are given a dataset with Experience (years) and Salary ($). Write a Python program to:
Train a Linear Regression model.

Predict the salary for an individual with 6 years of experience.

Dataset:

data = {'Experience': [1, 2, 3, 4, 5], 
        'Salary': [30000, 35000, 40000, 45000, 50000]}

Expected Output(Example):
Predicted Salary for 6 years of experience: $55000

In [22]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Creating a DataFrame
data = {'Experience': [1, 2, 3, 4, 5], 
        'Salary': [30000, 35000, 40000, 45000, 50000]}

df = pd.DataFrame(data)

# Splitting data into features and target
x = df[["Experience"]]
y = df["Salary"]
from sklearn.model_selection import train_test_split

# Training a Linear Regression Model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x, y)

# Predicting for test data
predicted_salary = model.predict([[6]])
print(f"Predicted Salary for 6 years of experience: ${predicted_salary[0]:.2f}")

Predicted Salary for 6 years of experience: $55000.00